@font-face {
    font-family: 'graphiklcg-regular';
    src: url('../fonts/GraphikLCG-Regular.ttf');
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    max-width: 1777px;
    font-family: 'graphiklcg-regular';
}

:root {
    --main-color: #252B42;
    --main-color-second: #374754;

}