.header {
    background-image: url(../img/background.png);
    min-height: 847px;
    background-size: cover;
    background-position: center;
    min-width: 418px;
}

.header__nav-logo {
    width: 206px;
    height: 78px;
    position: relative;
    z-index: 10;
    display: flex;
}

@media (max-width: 767px) {
    .header__nav-logo {
        justify-content: flex-start;
    }
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1210px;
    align-items: center;
    margin: auto;
}

@media (max-width: 767px) {
    .hamburger {
        width: 35px;
        padding-top: 10px;
        position: absolute;
        top: 40px;
        right: 30px;
        height: 14px;
        z-index: 30;
        cursor: pointer;
    }
    span {
        height: 2px;
        width: 100%;
        display: block;
        background: white;
        margin-bottom: 4px;
        transition: 1s all;
        &:last-child { margin-bottom: 0;
        }
    }
    .hamburger_active {
        span {
            margin-bottom: -2px;
            &:nth-child(1) {
                transform: rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform:rotate(45deg);
            }
        }
    }
}

.header__nav-menu {
    display: flex;
    width: 437px;
    height: 48px;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

@media (max-width: 767px) {
    .header__nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        background: #2091F9;
        z-index: 20;
        width: 50%;
        transition: 1s all;
    }
    .header__nav-menu_active {
        right: 0;
    }
}
.header__nav-menu--item {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    align-items: center;
    gap: 10px;
}

@media (max-width: 767px) {
    .header__nav-menu--item {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        font-size: 20px;
    }
}
.header__nav-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-left: 200px;
}

@media (max-width: 767px) {
    .header__nav-social {
        display: none; 
    }
}
.header__nav-social--icon {
    width: 33.31px;
    height: 27.06px;
}

.header__banner {
    max-width: 826px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header__banner-text {
    gap: 7px;
    margin-top: 100px;
    max-width: 826px;
}

.header__banner-text--title {
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    font-weight: 400px;
    padding: 10px;
    color: #FFFFFF;
    gap: 10px;
    max-width: 672px;
}

@media (max-width: 767px)
    { .header__banner {
        font-weight: 700;
        font-size: 74px;
        line-height: 84px;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
    }
    }

.header__banner-text--subtitle {
    color: #FFFFFF;
    max-width: 766px;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    gap: 10px;
    justify-content: center;
}

.header__banner--button {
    background-color: #2091F9;
    padding: 16px 0px 16px 0px;
    border-radius: 35px;
    border: none;
    width: 236px;
    height: 52px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 100px;
}