<section class="contact-us">
    <div class="contact-us__text">
        <h2 class="contact-us__text--title">Contact Us</h2>
        <p class="contact-us__text--subtitle">Most calendars are designed for teams.</p>
    </div>
    <div class="contact-us__social">
        <img src="img/twitter-blue.svg" alt="logo twitter">
        <img src="img/facebook-blue.svg" alt="logo facebook">
        <img src="img/linkedIn-blue.svg" alt="logo LinkedIn">
    </div>
    <div class="contact-us__adresses">
        <div class="contact-us__adresses--adress">
            <img src="img/point.svg" alt="point map">
            <p>6386 Spring St undefined Anchorage, Georgia 12473 United States</p>
        </div>
        <div class="contact-us__adresses--phone"> 
            <img src="img/phone.svg" alt="mobile phohe">
            <p>(843) 555-0130</p>
        </div>
        <div class="contact-us__adresses--email">
            <img src="img/envelope.svg" alt="postal envelope">
            <p>willie.jennings@example.com</p>
        </div>
    </div>
    <div class="contact-us__sign-up">
        <h3 class="contact-us__sign-up--title">Contact Us</h3>
        <input class="contact-us__sign-up--input-name" type="text" placeholder="Your Name" required>
        <input class="contact-us__sign-up--input-email" type="text" placeholder="Your Email" required>
        <input class="contact-us__sign-up--input-message" type="text" placeholder="Your Message" required>
        <button class="contact-us__sign-up--button" type="Send">Send</button>
    </div>
</section>