<section class="features">
    <div class="features__text">
        <h2 class="features__text--title">Features</h2>
        <p class="features__text--subtitle">Most calendars are designed for teams.</p>
    </div>
    <div class="features__video">
        <img src="img/video.svg" alt="Video screen">
    </div>
    <div class="features__cards">
        <div class="features__cards-fonts">
            <img class="features__cards-fonts-img" src="img/figures.svg" alt="round and square">
            <h3 class="features__cards-fonts--title">OpenType features Variable fonts</h3>
            <p class="features__cards-fonts--text">Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </div>
        <div class="features__cards-design">
            <img src="img/pencil.svg" alt="pencil that draws">
            <h3 class="features__cards-design--title">Design with real data</h3>
            <p class="features__cards-design--text">Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </div>
        <div class="features__cards-way">
            <img src="img/brush.svg" alt="brush">
            <h3 class="features__cards-way--title">Fastest way to take action</h3>
            <p class="features__cards-way--text">Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </div>
    </div>

</section>