<footer class="footer">
    <div class="footer-menu">
        <div class="footer-menu"__annette>
            <h3 class="footer-menu"__annette--title>Annette Steward</h3>
            <ul class="footer-menu"__annette--list>
                <li>Jennie Cooper</li>
                <li>Julie Henry</li>
                <li>Johnny Murphy</li>
                <li>Gregory Mccoy</li>
                <li>Marvin Mckinney</li>
            </ul>
        </div>
        <div class="footer-menu"__annette>
            <h3 class="footer-menu"__annette--title>Annette Steward</h3>
            <ul class="footer-menu"__annette--list>
                <li>Jennie Cooper</li>
                <li>Julie Henry</li>
                <li>Johnny Murphy</li>
                <li>Gregory Mccoy</li>
                <li>Marvin Mckinney</li>
            </ul>
        </div>
        <div class="footer-menu"__annette>
            <h3 class="footer-menu"__annette--title>Annette Steward</h3>
            <ul class="footer-menu"__annette--list>
                <li>Jennie Cooper</li>
                <li>Julie Henry</li>
                <li>Johnny Murphy</li>
                <li>Gregory Mccoy</li>
                <li>Marvin Mckinney</li>
            </ul>
        </div>
    </div>
    <div class="footer-adresses">
        <img class="footer-adresses__img" src="img/point.svg" alt="map point">
        <p class="footer-adresses__adress">7480 Mockingbird Hill undefined</p>
    </div>
    <div class="footer-social">
        <img src="img/twitter.png" alt="logo twitter">
        <img src="img/facebook.png" alt="logo facebook">
        <img src="img/img/LinkedIn.png" alt="logo LinkedIn">
    </div>
</footer>