<header class="header">
    <img class="header__background" src="img/background.png" alt="Фон">
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-list-item"><a href="#">Home</a></li>
            <li class="header__nav-list-item"><a href="#">Product</a></li>
            <li class="header__nav-list-item"><a href="#">Pricing</a></li>
            <li class="header__nav-list-item"><a href="#">About</a></li>
            <li class="header__nav-list-item"><a href="#">Contact</a></li>
        </ul>
    </nav>
    <img class="header__logo" src="img/logo.png" alt="Figma Land">
    <div class="header__social">
        <img class="header__social-icon" src="img/twitter.png" alt="Twitter">
        <img class="header__social-icon" src="img/facebook.png" alt="Facebook">
        <img class="header__social-icon" src="img/LinkedIn.png" alt="LinkedIn">
    </div>
    <h1 class="header__title">The best products start with Figma</h1>
    <p class="header__subtitle">Most calendars are designed for teams. Slate is designed for freelancer</p>

    <button class="header__button" type="submit">Try for free</button>
</header>