<header class="header">
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="header__nav">
        <div class="header__nav-menu">
            <a href="#" class="header__nav-menu--item">Home</a>
            <a href="#" class="header__nav-menu--item">Product</a>
            <a href="#" class="header__nav-menu--item">Pricing</a>
            <a href="#" class="header__nav-menu--item">About</a>
            <a href="#" class="header__nav-menu--item">Contact</a>
        </div>
        <img class="header__nav-logo" src="img/logo.png" alt="Figma Land">
        <div class="header__nav-social">
            <img class="header__nav-social--icon" src="img/twitter.png" alt="Twitter">
            <img class="header__nav-social--icon" src="img/facebook.png" alt="Facebook">
            <img class="header__nav-social--icon" src="img/LinkedIn.png" alt="LinkedIn">
        </div>
    </nav>
    <div class="header__banner">
        <div class="header__banner-text">
            <h1 class="header__banner-text--title">The best products start with Figma</h1>
            <p class="header__banner-text--subtitle">Most calendars are designed for teams. <!--Slate is designed for freelancer--></p>
        </div>
        <button class="header__banner--button" type="submit">Try for free</button>
    </div>
</header>