<section class="newsletter">
    <div class="newsletter-wrapper">
        <p class="newsletter-wrapper__subtitle">At your fingertips</p>
        <h2 class="newsletter-wrapper__title">Newsletter</h2>
        <p class="newsletter-wrapper__text">Most calendars are designed for teams. Slate is designed for freelancers</p>
    </div>
    <img src="img/letter.svg" alt="man and letter">
    <div class="newsletter-subscribe">
        <h3 class="newsletter-subscribe"__title>Subscribe to our Newsletter</h3>
        <p class="newsletter-subscribe"__text>Available exclusivery on Figmaland</p>
        <input class="newsletter-subscribe__input" type="text" placeholder="Your Email" required>
        <button class="newsletter-subscribe__button" type="Subscribe">Subscribe</button>
    </div>
</section>