<section class="partners">
    <div class="partners-content">
        <h2 class="patners-content__title">Partners</h2>
        <p class="partners-content__text">Most calendars are designed for teams. Slate is designed for freelancers</p>
    </div>
    <div class="partners-items">
        <div class="partners-items"__google>
            <h3 class="partners-items"__google--title>Client Name</h3>
            <img src="img/google.svg" alt="logo google">
        </div>
        <div class="partners-items"__amazon>
            <h3 class="partners-items"__amazon--title>Client Name</h3>
            <img src="img/amazon.svg" alt="logo amazon">
        </div>
        <div class="partners-items"__microsoft>
            <h3 class="partners-items"__microsoft--title>Client Name</h3>
            <img src="img/microsoft.svg" alt="logo microsoft">
        </div>
        <!--<div class="partners-items"__uber>
            <h3 class="partners-items"__uber--title>Client Name</h3>
            <img src="img/uber.svg" alt="logo uber">
        </div>
        <div class="partners-items"__dropbox>
            <h3 class="partners-items"__dropbox--title>Client Name</h3>
            <img src="img/dropbox.svg" alt="logo dropbox">
        </div>
        <div class="partners-items"__google>
            <h3 class="partners-items"__google--title>Client Name</h3>
            <img src="img/google.svg" alt="logo google">
        </div>
        <div class="partners-items"__uber>
            <h3 class="partners-items"__uber--title>Client Name</h3>
            <img src="img/uber.svg" alt="logo uber">
        </div>
        <div class="partners-items"__amazon>
            <h3 class="partners-items"__amazon--title>Client Name</h3>
            <img src="img/amazon.svg" alt="logo amazon">
        </div>-->
    </div>
    <button class="partners-items__buttom" type="submit">Try for free</button>
</section>