<section class="pricing">
    <div class="pricing-text">
        <h2 class="pricing-text__title">Pricing</h2>
        <p class="pricing-text__subtitle">Most calendars are designed for teams.</p>
    </div>
    <div class="pricing-cards">
        <div class="pricing-cards__free">
            <h3>FREE</h3>
            <p>Organize across all apps by hand</p>
            <p>0</p>
            <p>$</p>
            <p>Per Month</p>
            <ul>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
            </ul>
            <button class="partners-items__buttom" type="submit">Order Now/button>
        </div>
        <div class="pricing-cards__standard">
            <h3>STANDARD</h3>
            <p>Organize across all apps by hand</p>
            <p>10</p>
            <p>$</p>
            <p>Per Month</p>
            <ul>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
            </ul>
            <button class="partners-items__buttom" type="submit">Order Now/button>
        </div>
        <div class="pricing-cards__business">
            <h3>BUSINESS</h3>
            <p>Organize across all apps by hand</p>
            <p>99</p>
            <p>$</p>
            <p>Per Month</p>
            <ul>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
            </ul>
            <button class="partners-items__buttom" type="submit">Order Now/button>
        </div>
    </div>
</section>