<section class="testimonials">
    <h2 class="testimonials-title">Testimonials</h2>
    <img class="testimonials-ibm" src="img/ibm.svg" alt="logo IBM">
    <p class="testimonials-text">Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.</p>
    <div class="testimonials-client">
        <img class="testimonials-client__avatar" src="img/avatar.svg" alt="avatar photo">
        <p class="testimonials-client__title">Organize across</p>
        <p class="testimonials-client"__subtitle>Ui designer</p>
    </div>
    <button class="testimonials-button" type="submit">More Testimonials</button>
</section>